<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Artists</h1>
    <p>Choose an artist:</p>
    <form method="post" action="/artist">
      <select name="name">
        <option>Taylor Swift</option>
        <option>ABBA</option>
        <option>Britney Spears</option>
        <option>Christina Aguilera</option>
        <option>Jessica Simpson</option>
        <option>Brendon Urie</option>
      </select>
      <input type="Submit">
    </form>
  </body>
</html>
